@import "tailwindcss";

@theme {
  --color-search: var(--color-blue-400);
  --color-calculator: var(--color-amber-400);
  --color-slack: var(--color-emerald-400);
}

@layer base {
  body {
    @apply bg-zinc-950 text-zinc-100 font-sans antialiased selection:bg-zinc-800;
  }
}
